<header>
	<button class="menu-trigger">
		<svg class="icon">
		    <use xlink:href="#menu"></use>
		</svg>
	</button>
	<ul class="actions">
		<li>
			<a href="user.html">
				<!-- <svg class="icon">
		            <use xlink:href="#user"></use>
		        </svg> -->
		        <img class="thumb" src="assets/img/profile-picture-thumb.jpg" alt="Profile Picture">
			</a>
		</li>
		<li class="logout">
			<a href="index.html">
		        <svg class="icon">
		            <use xlink:href="#logout"></use>
		        </svg>
			</a>
		</li>
	</ul>
</header>